<template name="myTeamSidebar">
	<div class="col-md-3">
		<h3>My Team</h3>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Player</th>
						<th></th>
						<th>Bye</th>
						<th>$$</th>
					</tr>
				</thead>
				<tbody>
					{{#each team.roster }}
						<tr>
							<td>{{ player.name }}</td>
							<td>{{ player.position }}</td>
							<td>{{ player.bye }}</td>
							<td>${{ salary }}</td>
						</tr>
					{{/each }}
					<tr>
						<td colspan="3">
							<div class="pull-right">
								Total Salary:
							</div>
						</td>
						<td>${{ totalSalary }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>