<template name="teamsSidebar">
	<div class="col-md-3">
		<h3>Teams</h3>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Team</th>
						<th><div class="pull-right">$$</div></th>
						<th><div class="pull-right">#P</div></th>
						<th><div class="text-center">Bid</div></th>
					</tr>
				</thead>
				<tbody>
					{{#each teams }}
						<tr>
							<td><a href="/teams/{{ _id }}">{{ name }}</a></td>
							<td><div class="pull-right">${{ salaryCommitted }}</div></td>
							<td><div class="pull-right">{{ playerCount }}</div></td>
							<td>
								{{#if bidSubmitted }}
									<div class="text-center"><span class="glyphicon glyphicon-ok green"></span></div>
								{{/if }}
							</td>
						</tr>
					{{/each }}
				</tbody>
			</table>
		</div>
	</div>
</template>