<template name="teamDetail">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="pull-left">
				<h2>{{ team.name }}</h2>
			</div>
			{{#if isInRole 'admin' }}
				<div class="pull-right">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" id="playerName" placeholder="Player Name">
						</div>
						<a class="btn btn-primary" id="addPlayer">Add Player</a>
					</form>
				</div>
			{{/if }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Player</th>
							<th><div class="text-center">Team</div></th>
							<th><div class="text-center">Bye</div></th>
							<th><div class="text-center">Pos</div></th>
							<th>$$</th>
							<th><div class="text-center">Contract Years</div></th>
							{{#if isInRole 'admin' }}
							<th></th>
							{{/if }}
						</tr>
					</thead>
					<tbody>
						{{#each team.roster}}
							<tr>
								<td>{{ player.name }}</td>
								<td><div class="text-center">{{ player.team }}</div></td>
								<td><div class="text-center">{{ player.bye }}</div></td>
								<td><div class="text-center">{{ player.position }}</div></td>
								<td class="salary">
									{{#if salaryEdit }}
										<input type="text" class="form-control salaryInput" value="{{ salary}}">
									{{ else }}
										${{ salary }}
									{{/if }}
								</td>
								<td class="contract">
									{{#if contractEdit }}
										<input type="text" class="form-control contractInput" value="{{ contractYears }}">
									{{ else }}
										<div class="text-center">{{ contractYears }}</div>
									{{/if }}
								</td>
								{{#if isInRole 'admin' }}
									<td><span class="glyphicon glyphicon-trash deletePlayer"></span></td>
								{{/if }}
							</tr>
						{{/each }}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>