<template name="teamDetail">
	<div class="row">
		<div class="col-md-12">
			<div class="pull-left">
				<h1>{{ team.name }}</h1>
			</div>
			{{#if isInRole 'admin' }}
				<div class="pull-right">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" id="playerName" placeholder="Player Name">
						</div>
						<a class="btn btn-primary" id="addPlayer">Add Player</a>
					</form>
				</div>
			{{/if }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Total Contract Allocations</h3>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Year</th>
						<th>Bonus</th>
						<th>Salary</th>
						<th>Total</th>
						<th>Remaining</th>
					</tr>
				</thead>
				<tbody>
					{{#each contractTotals}}
					<tr>
						<td>Current + {{ index }}</td>
						<td>${{ bonus }}</td>
						<td>${{ salary }}</td>
						<td>${{ total }}</td>
						<td>${{ remaining }}</td>
					</tr>
					{{/each }}
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			{{> positionGraph }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Current Contracts</h3>
			<div class="table-responsive">
				<table class="table text-center table-hover table-striped">
					<thead>
						<tr class="no-border">
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th><div class="text-center">Contract Allocation</div></th>
							{{#if isInRole 'admin' }}
							<th></th>
							{{/if }}
						</tr>
						<tr>
							<th><div class="text-left">Player</div></th>
							<th><div class="text-center">Team</div></th>
							<th><div class="text-center">Bye</div></th>
							<th><div class="text-center">Pos</div></th>
							<th><div class="text-center callout" data-toggle="tooltip" data-placement="top" title="Bid Value">Bid</div></th>
							<th><div class="text-center callout" data-toggle="tooltip" data-placement="top" title="Total Contract Value">TV</div></th>
							<th><div class="text-center callout" data-toggle="tooltip" data-placement="top" title="Total Contract Years">TY</div></th>
							<th><div class="text-center callout" data-toggle="tooltip" data-placement="top" title="Current Contract Year">CY</div></th>
							<th>
								<div class="fake-column">Year</div>
								<div class="fake-column">Bonus</div>
								<div class="fake-column">Salary</div>
							</th>
							<th></th>
							{{#if isInRole 'admin' }}
							<th></th>
							{{/if }}
						</tr>
					</thead>
					<tbody>
						{{#each league.positions }}
						{{#each getPositionContracts position }}
							<tr>
								<td><div class="text-left">{{ player.name }}</div></td>
								<td>{{ player.team }}</td>
								<td>{{ player.bye }}</td>
								<td><span class="position {{player.position}}">{{ player.position }}</span></td>
								<td class="bid">
									{{#if bidEdit }}
										<input type="text" class="form-control bidInput" value="{{ bid }}">
									{{ else }}
										${{ bid }}
									{{/if }}
								</td>
								<td>${{ contractValue }}</td>
								<td>
									{{#if contractYearsEditable }}
										<select class="form-control contract-years">
											{{#each availableContractYears }}
												{{#if selected }}
												<option selected>{{ year }}</option>
												{{ else }}
												<option>{{ year }}</option>
												{{/if }}
											{{/each }}
										</select>
									{{ else }}
										{{ contractYears }}
									{{/if }}
								</td>
								<td>
									{{#if currentYearEdit }}
										<input id="current-year-edit" class="form-control" type="text" value="{{ currentYear }}">
									{{ else }}
										<div class="current-year current-contract-year current-contract-year-{{ currentYear }}">{{ currentYear }}</div>
									{{/if }}
								</td>
								<td>
									<div class="">
										{{#if salaryEdit .}}
										{{#if salaryError }}
										<div class="alert alert-danger">
											{{ salaryError }}
										</div>
										{{/if }}
										{{/if }}
										{{#each salaryAllocation }}
											{{#if salaryEdit .. }}
												<div>
													<div class="fake-column">{{ year }}</div>
													{{#if yearEditable .. }}
													<div class="fake-column">
														<input id="{{ ../player_id}}-year-{{ year }}-bonus" class="form-control salary-field bonus-input" type="text" value="{{ bonus }}" disabled="true">
													</div>
													<div class="fake-column">
														<input id="{{ ../player_id}}-year-{{ year }}-salary" class="form-control salary-field salary-input" type="text" value="{{ salary }}">
													</div>
													{{ else }}
													<div class="fake-column">
														<input id="{{ ../player_id}}-year-{{ year }}-bonus" class="form-control salary-field bonus-input" type="text" value="{{ bonus }}" disabled="true">
													</div>
													<div class="fake-column">
														<input id="{{ ../player_id}}-year-{{ year }}-salary" class="form-control salary-field salary-input" type="text" value="{{ salary }}" disabled="true">
													</div>
													{{/if }}
												</div>
											{{ else }}
												<div class="">
													<div class="fake-column {{ contractYearClass .. }}">{{ year }}</div>
													<div class="fake-column {{ contractYearClass .. }}">${{ bonus }}</div>
													<div class="fake-column {{ contractYearClass .. }}">${{ salary }}</div>
												</div>
											{{/if }}
										{{/each }}
										<div>
											<div class="fake-column callout" data-toggle="tooltip" data-placement="left" title="Total"><strong>T</strong></div>
											<div class="fake-column"><strong>${{ bonusTotal }}</strong></div>
											<div class="fake-column"><strong>${{ salaryTotal }}</strong></div>
										</div>
									</div>
								</td>
								{{#if contractEditable }}
								<td>
									{{#if contractEdit }}
										<button class="btn btn-primary save-contract"><span class="glyphicon glyphicon-ok"></span> Save</button>
									{{ else }}
										<button class="btn btn-default edit-years"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
									{{/if }}
								</td>
								{{ else }}
								<td></td>
								{{/if }}
								{{#if isInRole 'admin' }}
									<td><span class="glyphicon glyphicon-trash deletePlayer"></span></td>
								{{/if }}
							</tr>
						{{/each }}
						{{/each }}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>