<template name="tierDetail">
	<div class="row">
		{{> teamsSidebar }}
		{{#if tier.complete }}
			{{> tierResults }}
		{{ else }}
		<div class="col-md-6">
			<div class="pull-left">
				<h3>Tier {{ tier.name }}</h3>
			</div>
			{{#if isInRole 'admin' }}
				<div class="pull-right">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" id="playerName" placeholder="Player Name">
						</div>
						<a class="btn btn-primary" id="addPlayer">Add Player</a>
					</form>
				</div>
			{{/if }}
			<div class="clearfix"></div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th><div class="text-center">Team</div></th>
							<th><div class="text-center">Bye</div></th>
							<th><div class="text-center">Pos</div></th>
							<th><div class="pull-right">Bid</div></th>
							{{#if isInRole 'admin' }}
							<th></th>
							{{/if }}
						</tr>
					</thead>
					<tbody>
						{{#each players }}
							<tr>
								<td>{{ name }}</td>
								<td><div class="text-center">{{ team }}</div></td>
								<td><div class="text-center">{{ bye }}</div></td>
								<td><div class="text-center"><span class="position {{position}}">{{ position }}</span></div></td>
								<td>
									{{#if bidSubmitted }}
										<div class="pull-right">${{ playerBid.bid }}</div>
									{{ else }}
										<div class="pull-right form-group"><input type="text" class="form-control bid" id="{{_id}}"></div><div class="pull-right">$</div>
									{{/if }}
								</td>
								{{#if isInRole 'admin' }}
								<td><span class="glyphicon glyphicon-trash deletePlayer"></span></td>
								{{/if }}
							</tr>
						{{/each }}
					</tbody>
				</table>
			</div>
			{{#if tier.active }}
				{{#if bidSubmitted }}
					<div class="text-center"><h4>Waiting for other teams . . .</h4></div>
				{{ else }}
					{{#if bidsValid }}
						<div class="alert">&nbsp;</div>
					{{ else }}
						<div class="alert alert-danger"><strong>Bids Invalid</strong> Your bid totals are too high!</div>
					{{/if }}
					<div class="pull-left">
						Max number of players to take
						<select id="playersToTake" class="form-control">
							{{#each players}}
								<option>{{ indexOfPlayer _id }}</option>
							{{/each }}
						</select>
					</div>
					{{#if bidsValid }}
						<div class="pull-right"><a id="submitBids" class="btn btn-lg btn-primary">Submit Bids</a></div>
					{{/if }}
				{{/if }}
			{{ else }}
				<div class="text-center"><h4>Please wait for this tier to become active before submitting bids.</h4></div>
			{{/if }}
		</div>
		{{/if }}
		{{> myTeamSidebar }}
	</div>
</template>