<template name="tiers">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			{{#if isInRole 'admin' }}
			<form class="form-inline">
				<div class="form-group">
					<input type="text" class="form-control" id="tierName" placeholder="Tier Name">
				</div>
				<a class="btn btn-primary" id="createTier">Create Tier</a>
			</form>
			{{/if }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th><div class="text-center">Active</div></th>
							<th><div class="text-center">Completed</div></th>
							{{#if isInRole 'admin' }}
							<th></th>
							{{/if }}
						</tr>
					</thead>
					<tbody>
						{{#each tiers }}
							<tr>
								<td><a href="/tiers/{{ _id }}">{{ name }}</a></td>
								<td>
									<div class="text-center">
										{{#if isInRole 'admin'}}
											<input type="radio" class="activeRadio" name="activeRadios" {{#if active}}checked{{/if }}>
										{{ else }}
											{{#if active }}
												<div class="text-center"><span class="glyphicon glyphicon-ok"></span></div>
											{{/if }}
										{{/if }}
									</div>
								</td>
								<td>
									{{#if completed }}
										<div class="text-center"><span class="glyphicon glyphicon-ok"></span></div>
									{{/if }}
								</td>
								{{#if isInRole 'admin' }}
								<td><span class="glyphicon glyphicon-trash"></span></td>
								{{/if }}
							</tr>
						{{/each }}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>