<template name="tierDetail">
	<div class="row">
		{{> teamsSidebar }}
		<div class="col-md-6">
			<div class="pull-left">
				<h3>Tier {{ tier.name }}</h3>
			</div>
			{{#if isInRole 'admin' }}
				<div class="pull-right">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" id="playerName" placeholder="Player Name">
						</div>
						<a class="btn btn-primary" id="addPlayer">Add Player</a>
					</form>
				</div>
			{{/if }}
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Team</th>
							<th>Bye</th>
							<th>Pos</th>
							<th>Bid</th>
							{{#if isInRole 'admin' }}
							<th></th>
							{{/if }}
						</tr>
					</thead>
					<tbody>
						{{#each players }}
							<tr>
								<td>{{ name }}</td>
								<td>{{ team }}</td>
								<td>{{ bye }}</td>
								<td>{{ position }}</td>
								<td>
									{{#if bidSubmitted }}
										${{ playerBid.bid }}
									{{ else }}
										<div class="pull-left">$ </div><input type="text" class="form-control bid" id="{{_id}}">	
									{{/if }}
								</td>
								{{#if isInRole 'admin' }}
								<td><span class="glyphicon glyphicon-trash deletePlayer"></span></td>
								{{/if }}
							</tr>
						{{/each }}
					</tbody>
				</table>
			</div>
			{{#if bidSubmitted }}
				<div class="text-center"><h4>Waiting for other teams . . .</h4></div>
			{{ else }}
				<div class="pull-left">
					Max number of players to take
					<select id="playersToTake" class="form-control">
						{{#each players}}
							<option>{{ indexOfPlayer _id }}</option>
						{{/each }}
					</select>
				</div>
				<div class="pull-right"><a id="submitBids" class="btn btn-lg btn-primary">Submit Bids</a></div>
			{{/if }}
		</div>
		{{> myTeamSidebar }}
	</div>
</template>